*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #6970b9;
    font-family: "Redressed", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}